body{
  font-family: 'Crimson Text', serif;
}


.stimulants{
color: #FC1325;
}

.sedatives{
color: #3CEEED;
}

.supplements{
  color:#30D49D;
}

.hallucinogenics{
  color:#a478d6;
}


.pink{
	background-color: #FFF4F4;
}
.red{
	background-color: red;
}




/*HEADER*/

  /*#big-header{
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../img/brand.jpg);
    background-attachment: fixed;
  }*/


.eroHeader{
  padding: 0px;
  background-image: url('../img/brand_low.jpg');
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

#erowidHeader{
  width: 100%;
  height: 600px;
  /*background-image: url('../img/brand_low.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;*/
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-out;
  /*text-align: center;*/
  position: relative;
}

#erowidHeader::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url('../img/brand_low.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  opacity: 0.80;
}

#erowidHeader h2{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 25px;
  color: white;
  letter-spacing: 4px;
}

#title, #subtitle{
 transition: transform 0.5s ease-out;
}

.layer {
    height: 600px;
    color: white;
}
#base-layer {
    overflow: hidden;
}

#layer-one {
    /*background-image: url(../img/brand.png);*/
  }
#layer-two {
    /*background-image: url(../img/brand.png);*/


  }

#slider {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    opacity: 1 !important;
    text-align: center;
    padding-top: 190px;
}

#slider h2{
font-family: 'Crimson Text', serif;
font-size: 24px;
color: #FFFFFF;
line-height: 32px;
letter-spacing: 0.1px;

}


#logo{
    background-image: url(../img/logo.png);
    height: 181px;
    background-repeat: no-repeat;
    background-position: center;
}


#intro{
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: 'Crimson Text', serif;
}


#intro p{
font-family: 'Crimson Text', serif;
font-size: 24px;
color: #373737;
line-height: 33px;

}

#intro a{
text-decoration: none;
color: #373737;
border-bottom: none;
font-style: italic;
padding-bottom: 2px;

  background: none;
}



#intro a:hover,
#intro a:active,
#intro a:focus
{
text-decoration: none;
padding-bottom: 2px;
border-bottom: 2px solid #373737;
outline: none;

}



 .affix-top {
      top:0;
      width: 100%;
      z-index: 9999 !important;
  }
  .navbar {
      margin-bottom: 0px;
  }


.navbar-collapse{
  padding-left: 0px;
}
  .affix ~ .postaffix {
     //: relative;
     margin-top: 50px;
  }

.affix{
 position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;


}



/*NAVIGATION*/



.navbar{

    border-radius: 0px;
    border-left: 0px;
    border-right:0px;
    background-color: #FDFDFD;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
}

ul.nav a{

font-family: 'Source Sans Pro', sans-serif;
font-size: 12px;
color: #373737 !important;
letter-spacing: 0.5px;
line-height: 25px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 3px;
transition: background-color 0.3s ease;

}


ul.nav a:hover,
ul.nav a:active,
ul.nav a:focus {
  background-color: #FFF4F4 !important; }


.navbar-nav>.active>a{
   background-color: #FFF4F4 !important;
}

/*SECTIONS*/

#section1,
#section2,
#section3,
#section4,
#section6,
#section7,
#section9,
#section10,
#section11,
#section12,
#section13,
#section14{
	padding-top: 50px;
	padding-bottom: 50px;
font-family: 'Crimson Text', serif;
}

#section5{
  padding-top: 0px;
  padding-bottom: 0px;
font-family: 'Crimson Text', serif;
}


#section8{
  padding-top: 0px;
  padding-bottom: 0px;
}
#section8right{
  border-right: 1px solid #F6F6F6;
  min-height: 630px;
  padding-right: 0;
}

#generalstat{
  padding-top: 40px;
  padding-bottom: 40px;
}

.description{

  }

.description h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 25px;
    color: #373737;
    line-height: 35px;
    margin-top: 0;
    padding-right: 50px;
    letter-spacing: 4px;
  }

.description h4,
#section8 h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #373737;
    letter-spacing: 3px;
    line-height: 19px;
    text-transform: uppercase;
    padding-right: 50px;
}

.bumpContainer h4{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 12px;
    color: #373737;
    letter-spacing: 2px;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-top: 0px;
}

.description a{
  text-decoration: none;
color: #373737;
border-bottom: none;
font-style: italic;
padding-bottom: 2px;

  background: none;
}



.description a:hover,
.description a:active,
.description a:focus
{
text-decoration: none;
padding-bottom: 2px;
border-bottom: 2px solid #373737;
outline: none;

}


.description p{
font-family: 'Crimson Text', serif;
font-size: 20px;
color: #373737;
line-height: 29px;
}

.viz{
    background-color: #FDFDFD;
    border-top: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
}

.viz svg{
  width: 100%;
  height: 100%;
  display: block;
}

/*treemap d3 css*/



.node {
  border: solid 1px white;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  transition: all .2s ease-in-out;
  color: white;
  padding: 10px;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  font-family: 'Crimson Text', serif;
}



.node:hover{

  transform: scale(1.2, 1.2);
  z-index: 9999;
  color: white;
  border: 1px solid #F6F6F6;
  font-size: 12px !important;
}

/*BIGRAMS*/

/*buttons*/

.btn-group-substances button{
  font-size: 20px;
  border: none;
  border-radius: 0;
  text-align: left;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 15px;
  border-bottom:2px solid white;
  padding-bottom: calc(6px - 2px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#section4 .btn-default.stimulants:focus:not(.active),
#section4 .btn-default.sedatives:focus:not(.active),
#section4 .btn-default.supplements:focus:not(.active),
#section4 .btn-default.hallucinogenics:focus:not(.active){
  border-bottom: none;
}

.btn-default.stimulants:hover,
.btn-default.stimulants:active,
.btn-default.stimulants.active,
.btn-default.stimulants:focus{
background-color:white;
border-bottom: 2px solid #FC1325;
padding-bottom: 100%; /* fallback if needed */
padding-bottom: calc(6px - 2px);
color: #FC1325;
outline: none;
box-shadow: none;
}

.btn-default.sedatives:hover,
.btn-default.sedatives:active,
.btn-default.sedatives.active,
.btn-default.sedatives:focus{
background-color:white;
border-bottom: 2px solid #3CEEED;
padding-bottom: 100%; /* fallback if needed */
padding-bottom: calc(6px - 2px);
color: #3CEEED;
outline: none;
box-shadow: none;
}

.btn-default.supplements:hover,
.btn-default.supplements:active,
.btn-default.supplements.active,
.btn-default.supplements:focus{
background-color:white;
border-bottom: 2px solid #30D49D;
padding-bottom: 100%; /* fallback if needed */
padding-bottom: calc(6px - 2px);
color: #30D49D;
outline: none;
box-shadow: none;
}


.btn-default.hallucinogenics:hover,
.btn-default.hallucinogenics:active,
.btn-default.hallucinogenics:focus,
.btn-default.hallucinogenics.active{
background-color:white;
border-bottom: 2px solid #a478d6;
padding-bottom: 100%; /* fallback if needed */
padding-bottom: calc(6px - 2px);
color: #a478d6;
outline: none;
box-shadow: none;
}


/* network */
#networkContainer{
  height: 630px;
  width: 100%;
  position: relative;

}
#controller{
  position: absolute;
  top:0px;
  right: 0px;
  z-index: 10;
}

#controller .btn-group-vertical>.btn:first-child:not(:last-child),
#controller, .btn-group-vertical>.btn:last-child:not(:first-child){

}


#btn-zoom-wrapper{
  padding-top: 30px;
}

#zoomIn {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 13px;
}

#zoomOut {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #373737;
  padding-top: 10px;
  padding-bottom: 9px;
}


#zoomReset {

  font-size: 13px;
  line-height: 20px;
  color: #373737;

}



#controller .btn-default{
  border: 1px solid #F6F6F6;
}

#controller .btn-default:active,
#controller .btn-default:focus{
  border: 1px solid #F6F6F6;
  background-color: #fff;
  outline: 0;
}

#controller .btn-default:hover{
  border: 1px solid #F6F6F6;
  background-color: #FFF4F4;
  transition: background-color 0.3s ease;
}

/* typeahead */

#searchwrapper{
  padding-top: 30px;
}

.twitter-typeahead{
  width: 80%;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 100%;
  height: 34px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid #F6F6F6;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #FFF4F4;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-menu {
  width: 100%;
  margin: 2px 0px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #F6F6F6;
}

.tt-suggestion {
  padding: 3px 10px;
  font-size: 14px;
  line-height: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #000;
  background-color: #FFF4F4;
}

.tt-suggestion.tt-cursor {
  color: #000;
  background-color: #FFF4F4;

}

.tt-suggestion p {
  margin: 0;
}

.networkSide{
  height: 433px;
  overflow-y: scroll;
  margin-left: -8px;
}

.bumpList{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 1px;
}

.bumpContainer{
  min-height: 400px;
}

#bumpList{
  height: 345px;
  overflow-y: scroll;
}

#bumpList p{
  margin-bottom: 5px;
}
.x.axis text{
  font-family: 'Source Sans Pro', sans-serif;
}

#section5{
  padding: 0px;
  /*box-shadow: inset 20px 0 30px -20px rgba(0, 0, 0,0.7), inset -20px 0 30px -20px rgba(0, 0, 0,0.7);*/
}

.slotwrapper{
  height: 185px;
  overflow: hidden;
  border-bottom: 1px solid #F6F6F6;
  position: relative;

}


.slot{
  height: 205px;
  display: block;
  max-width: auto;
  overflow-y: hidden;
  overflow-x:auto;
  word-wrap:normal;
  white-space:nowrap;
}

.slotImg{
  display: inline;
  border-right: 1px solid #F6F6F6;
  margin-left: 10px;
}

.leftscrollhelper{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 185px;
  top:0;
  left: 0;
  background: transparent;
}

.rigthscrollhelper{
  position: absolute;
  z-index: 1;
  width: 40px;
  height: 185px;
  top:0;
  right: 0;
  background: transparent;
}

.scrollhelperarrow{
  background-color: white;
  border-left: 1px solid #F6F6F6;
  border-right: 1px solid #F6F6F6;
  color:#373737;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.scrollhelperarrowright{
  transform: translate(40px,0px);
}

.scrollhelperarrowleft{
  transform: translate(-40px,0px);
}

.selectedNodes{
  margin-top: 30px;
  opacity: 1;
  transition: opacity 0.5s;
}

.linkedNodes{
  opacity: 1;
  transition: opacity 0.5s;
}

.selectedNodes p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 20px;
  color: #373737;
  letter-spacing: 4px;



}

.networkSide .badge{
  font-family: 'Source Sans Pro', sans-serif;
  color: #373737;
  letter-spacing: 1px;
  margin-right: 3px;
  cursor: pointer;
  border: 1px solid #F6F6F6;
  background: white;
  margin-bottom: 5px;
  transition: background 0.2s;
  font-weight: 400;
}

.networkSide .badge:hover{
  background: #FFF4F4
}

.no-opacity{
  opacity: 0;
}

.bg{
  height: 590px;
}

.glitch {
  color: rgba(255, 255, 255, 1);
  font-size: 85px;
  letter-spacing: 10px;
  position: relative;
  font-family: 'Source sans pro', sans-serif;
  font-weight: 900;
  overflow: hidden;
  padding: 0px 1px;
  /*animation: noise-anim-top 20s infinite linear alternate-reverse;*/
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: -2px 0 aqua;
  top: 0;
  color: white;
  overflow: hidden;
  opacity: 0;
  /*clip: rect(65px, 9999px, 80px, 0px);*/
  /*animation: noise-anim 20s infinite linear alternate-reverse;*/
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: 2px 0 red;
  top: 0;
  color: white;
  opacity: 0;
  overflow: hidden;
  /*clip: rect(50px, 9999px, 65px, 0px);*/
  /*animation: noise-anim-2 20s infinite linear alternate-reverse;*/
}

.glitchDynamic_1::after{
  opacity: 1;
  clip: rect(70px, 9999px, 85px, 0px);
}

.glitchDynamic_1::before{
  opacity: 1;
  clip: rect(50px, 9999px, 65px, 0px);
}

.glitchDynamic_2::after{
  opacity: 1;
  clip: rect(55px, 9999px, 63px, 0px);
}

.glitchDynamic_2::before{
  opacity: 1;
  clip: rect(70px, 9999px, 85px, 0px);
}

/*GLOSSARY*/
#glossary div{
  padding-right: 30px;
}

#section14 h1 {
font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 25px;
    line-height: 35px;
    margin-top: 0;
    padding-right: 50px;
    letter-spacing: 4px;
}

#section14 h2 {
font-size: 12px;
  font-family: 'Source Sans Pro', sans-serif;
margin-top: 5px;
letter-spacing: 1px;
}
#section14 p{
      font-family: 'Crimson Text', serif;
    font-size: 20px;
    color: #373737;
    line-height: 29px;
}
/*FOOTER*/
